@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    background: #ddd;
    

}
#AnnaHeader {
    font-weight: 400;
    -webkit-font-smoothing: anatialased;
    color:slategrey;
    background-color: papayawhip;
    height:auto;
    padding: 30px;
    font-family: Calligraffitti;
    font-size: 30px;
}




nav > a {
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: #FFFACD;
    cursor: pointer;

}

nav {
    font-size:1.5em ;
    padding: 14px 16px;
}


footer{
    position:fixed;
    bottom: 0px;
    width:100%;
    background-color: black;
    color: #FFFACD;
}








nav {
    color: #FFFACD;
    background-color:grey;
}

